.Nav{
background-color: #CCA43B;
/* border: 3px solid #293241; */
border: 3px solid #4E4D5C;
margin-bottom: 2%;
}

.title{
margin-top: 0;
font-variant: small-caps;
text-decoration: underline;
}

nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1%;
}